<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235143806197-mn9dvnf0cllvd8av9nt3m2079kqj29ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235143806197-mn9dvnf0cllvd8av9nt3m2079kqj29ft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>235143806197-cc779nqb3gq5lvkj7b92jrm6fcpkerhl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAy1z5n5Axt7Pga3At-ziF4WRAzGmwnCSA</string>
	<key>GCM_SENDER_ID</key>
	<string>235143806197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tezmathsteam.tezmaths</string>
	<key>PROJECT_ID</key>
	<string>tezmathsinnovations</string>
	<key>STORAGE_BUCKET</key>
	<string>tezmathsinnovations.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235143806197:ios:20050935e37ed0615a19bc</string>
	<key>DATABASE_URL</key>
	<string>https://tezmathsinnovations-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>